h2{
	color: blue;
}

/*relative lenghts 
	- are lenghts that change relative to something: 
		- % -unit for percentage
		- em - relative to the current font size
		- rem - relative to the current font size on the html
		- vw - relative to the width of the viewport divided 100
		-vh - relative to the height of the viewport divided 100



		*/
#zuitt-motto{
	letter-spacing: 5px;
}

*{ 
	/*all elements will  now have a font style of courier new and the default will be about 20px 
		monospace is a fallback font. in the event that the machine use to view your documnets does not have the declared fon, we will fall back to similar.
		

		font-family:  changes the style of text;
		font-size:  changes the size of the text;
	*/
	font-family: "Courier New",monospace;
	font-size: 20px;
	/*CSS reset*/

	margin: 0px;
	padding: 0px;
}

body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

h1{
	color: black ,!important;
	text-align: center;
	font-size: 2rem;
}
section{
	height: 100vh;
	text-align: center;

	/*it allows us to align our text horizontally */
}

ol{
	list-style: none;
}

h2{
	font-size: 1.5rem;
}
/*class selector*/
.offering-item{
	text-transform: uppercase;
}
#bootcamp-learning-item{

}

/*attribute selector allows us to select particular elements with the same attribute 

	tagname[attribute]
		border-width allows us to determine the thickness of an element's border;
		border-style:  allows us to dtermin the style of the border
		border-color:  allows to determine the color of the border*/


input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}



#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}


#bootcamp-learning-item li {
	color: #075966;
}

a{
	text-decoration: none;
}

a:hover{
text-decoration: underline;
}

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 215px;
	width: 25vw;
	position: relative;
	left: 37%;
}

section > form > label{
	color: rgb(0, 0, 128);
}

button{
	margin-top: 5px;
	padding: 5px;
	background-color: #cf0053;
	border: 0;
	border-radius: 15px;
	
}
