#Zuitt-goals{
	color:#F1D00A;
}
*{
	font-family: "Verdana",sans-serif;
}

h1{
	font-size: 3rem;
}

#section1Header{
text-transform: uppercase;
}

#section2Header{
text-transform: uppercase;
}




.proglanguage{
	background-color: #90EE90;
}
.progTools{
	border:2px solid #0000FF;
}

#puppy + ol{
	list-style-type: none;
}

section img{
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

#OtherItems > li{
	letter-spacing: 10px;
}